section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
section .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}
section .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #e91e63, #03a9f4);
  z-index: 1;
  mix-blend-mode: screen;
}
section .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .contentBx {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.contentBx .formBx {
  width: 50%;
}
.contentBx .formBx h2 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 4px solid var(--primary-btn);
  display: inline-block;
  letter-spacing: 1px;
}

.contentBx .formBx .inputBx {
  margin-bottom: 20px;
}

.contentBx .formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #555;
  font-weight: 600;
  letter-spacing: 1px;
}
.contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid var(--primary-btn);
  font-size: 16px;
  letter-spacing: 1px;
  color: #555;
  background: tranparent;
  border-radius: 20px;
}
.contentBx .formBx button {
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  height: 5vh;
  color: #fff;
  font-size: 16px;
}
.contentBx .formBx button:hover {
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
