.rContainer {
  background-color: white;
  padding: 20px;
  position: relative;
}

.rDatesInfo {
  display: flex;
  justify-content: space-between;
}

.rDates {
  flex: 50%;
}

.rInfo {
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}

.rInfo > input {
  border: 1px gray solid;
  border-radius: 5px;
  height: 40px;
  padding-left: 20px;
}

.rRoom {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.rRoomItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 5px;
  max-width: 50%;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 300;
}

.rMax {
  font-size: 12px;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 12px;
  color: gray;
}

.room {
  display: flex;
  flex-direction: column;
}

.rBillBook {
  display: flex;
  margin-top: 10px;
}

.payment {
  flex: 50%;
  height: 50px;
  font-size: 15px;
  padding-left: 20px;
  background-color: lightgray;
  border-radius: 5px;
  margin-right: 200px;
}

.rButton {
  height: 50px;
  flex: 50%;
  border: none;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
