@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,400&display=swap');


:root {
  --primary-color: #116149;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-space {
  display: flex;
  justify-content: space-around;
}

.container {
  min-width: 85%;
  margin: auto;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.main-content {
  width: 70%;
}

.side-content {
  width: 30%;
  margin-left: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.icon {
  margin-top: 20px;
}

.icon i {
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e7e3e3;
  border-radius: 5px;
}

.primary-btn {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 400;
  transition: .5s;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.primary-btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  transform: scale(.9);
  border: 1px solid var(--primary-color);
}

textarea,
input {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
}


.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.row {
  width: 50%;
}

.secondary-btn {
  padding: 12px 30px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
}

.outline-btn {
  padding: 12px 30px;
  background-color: #fff;
  color: black;
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
  border: 2px solid #000;
}

.secondary-btn i {
  margin: 7px 0 0 10px;
}

.heading {
  text-align: center;
  padding: 50px 0 50px 0;
}

.heading h1 {
  font-size: 35px;
  font-weight: 500;
}

.heading .line {
  width: 18%;
  margin: auto;
  margin-top: 20px;
  border-bottom: 2px dashed #999999;
  position: relative;
}

.heading .line::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #31b675;
  border-radius: 50%;
  top: -6px;
  left: -20px;
}

.heading .line::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #31b675;
  border-radius: 50%;
  top: -6px;
  right: -20px;
}

.full_container {
  max-width: 95%;
  margin: auto;
}

.main-content {
  width: 60%;
  margin-left: 50px;
}

.side-content {
  width: 30%;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-content {
    width: 100%;
  }

  .side-content {
    width: 100%;
    margin-left: 0px;
  }
}