.popular {
  position: relative;
}

.popular::after {
  content: "";
  width: 100%;
  height: 40vh;
  background: #eaf8f1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.popular img {
  width: 100%;
}

.popular .card {
  margin: 10px;
}

.popular .item {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
}

.popular .image {
  position: relative;
}

.popular .image i {
  position: absolute;
  bottom: 0;
  color: white;
  margin: 20px;
}

.popular .image i label {
  margin-left: 10px;
  font-weight: normal;
}

.popular .details {
  text-align: center;
}

.popular .rate {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 13px;
  color: grey;
}

.popular .rate i {
  margin: 2px;
}

.popular .cards h2 {
  font-weight: 500;
  font-size: 20px;
  color: #31b675;
  position: relative;
  margin-bottom: 30px;
}

.popular .cards h3 {
  color: #31b675;
  font-weight: 500;
}

.popular .cards h3 span {
  color: grey;
  font-weight: 300;
  font-size: 15px;
}

.popular .content {
  margin-bottom: 50px;
}