.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}

.lContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.lTitle {
  align-self: center;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.item>label {
  padding: 10px 0 20px;
}

.lInput {
  height: 20px;
  padding: 10px;
  border: black solid 1px;
  border-radius: 5px;
  padding-left: 20px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
