.footer {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(201, 114, 176, 0.2);
  margin-top: 20px;
}

.footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer img {
  margin-bottom: 30px;
  width: 100px;
}

.footer strong {
  color: var(--primary-color);
}
.footer h3 {
  font-size: 20px;
  padding-bottom: 20px;
}

.footer p {
  font-size: 16px;
  margin: 0 0 8px 0;
  color: var(--primary-color);
}

.footer .copyright {
  width: 100%;
  text-align: center;
}
