.trans {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.transTable {
  border: 1px lightgray solid;
}

.transTable > caption {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
}

.transTable > tr > th {
  height: 30px;
  min-width: 30px;
  padding: 10px;
  color: white;
  background-color: #32a4c1;
}

.transTable > tr > td {
  padding: 10px;
}

.tableRow > td {
  background-color: #c6c2c286 !important;
}

.transTable > tr > td > span {
  padding: 7px;
  border-radius: 5px;
}

.booked > span {
  background-color: #f69685 !important;
}
.checkin > span {
  background-color: #39d139 !important;
}
.checkout > span {
  background-color: #d3d0f2 !important;
}
