.aboutCard {
  margin: 40px;
}

.aboutCard h3 {
  color: var(--primary-color);
}

.aboutCard h1 {
  font-size: 35px;
  font-weight: 100;
}

.aboutCard h1 span {
  font-weight: bold;
}

.aboutCard p {
  margin-top: 20px;
  font-weight: 300;
}

.aboutCard .row1,
.aboutCard .image {
  padding-left: 30px;
  padding-right: 30px;
}

.features .flex-space {
  flex-direction: row-reverse;
}

.aboutCard img,
.features img {
  width: 100%;
}

.features h1 {
  font-weight: bold;
}

.features h1 span {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {

  .features .flex-space,
  .aboutCard {
    flex-direction: column;
  }

  .aboutCard .image::after,
  .aboutCard .image::before {
    display: none;
  }

  .aboutCard .row {
    width: 100%;
  }

  .aboutCard .image {
    margin-top: 50px;
  }

  .aboutCard img {
    width: 100%;
  }
}